<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="d36fecad-3a90-4794-a1f8-3aa4021e1530"
    Publisher="CN=Discut"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="d36fecad-3a90-4794-a1f8-3aa4021e1530" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MyWareHouse</DisplayName>
    <PublisherDisplayName>29628</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MyWareHouse.App">
      <uap:VisualElements
        DisplayName="MyWareHouse"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="MyWareHouse"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
          <desktop:Extension Category="windows.fullTrustProcess" Executable="Assets\Luncher.exe" >
              <desktop:FullTrustProcess>
                <desktop:ParameterGroup GroupId="ChromeGroup" Parameters="chrome.exe"/>
                <desktop:ParameterGroup GroupId="WordGroup" Parameters="WINWORD.exe"/>
              </desktop:FullTrustProcess>
          </desktop:Extension>
       </Extensions>
    </Application>
  </Applications>

  <Capabilities>
	  <rescap:Capability Name="runFullTrust" />
	  <Capability Name="internetClient" />
  </Capabilities>
</Package>